body {
    margin: 0;
    background-color: #030407;
    font-family: "Droid Serif", serif;
}
.main-pic {
    width: 100%;
}
.container {
    text-align: center;
}
.movie-name {
    width: 60%;
    position: relative;
    bottom: 50px;
}

footer label {
    position: relative;
    bottom: 40px;
    font-family: courier;
    color: white;
    font-size: 2.5rem;
}
footer {
    text-align: center;
}
footer img {
    width: 100%;
    z-index: -1;
}
.movie-img-right {
    position: absolute;
    left: 120%;
    top: -18px;
}
.movie-img-left {
    position: absolute;
    right: 120%;
    top: -18px;
}
.year {
    font-size: 1.2em;
    color: #bf2c26;
}
.movie-3 {
    width: 165px;
}
.cd-timeline-content.session-1 {
    background-color: black;
    color: #c5f3c6;
}
.cd-timeline-content.session-2 {
    background-color: black;
    color: #fffbec;
}
.cd-timeline-content.session-3 {
    background-color: black;
    color: #c5cdf3;
}
.cd-timeline-content.right {
    text-align: right;
}

@media screen and (max-width: 1170px) {
    .movie-name{
        bottom: 0;
    }
    .movie-img-left {
        display: none;
    }
    .movie-img-right {
        display: none;
    }
    .cd-timeline-content.right {
        text-align: left;
    }
}